# 제어문

## 조건문 (if문)
1. if 문은 반드시 일정한 참/거짓을 판단 할 수 있는 `조건식`과 함께 사용한다. (`if <조건식>:`)
   
2-1. `<조건식>`이 참인 경우 : 이후의 문장을 실행한다.
   
2-2. `<조건식>`이 거짓인 경우 `else` 이후의 문장을 실행한다

if <조건식>:
    print()
else:
    prnit()

In [2]:
my_string = input()

if my_string == '12/25':
    print('크리스마스입니다.')
else:
    print('크리스마스가 아닙니다.')

 123

크리스마스가 아닙니다.

In [11]:
num = input('숫자를 입력해주세요')

숫자를 입력해주세요 123

In [13]:
#조건문을 사용해서 num에 들어있는 숫자가 홀수/짝수 인지 판별
if (int(num) % 2) == 0:
    print('짝수')
else:
    print('홀수')

홀수

In [16]:
#num을 2로 나눈 나머지는 0, 1 두가지 경우가 있다.
#if문의 조건식에 0, 1 은 자동변환되어 False, True 로 변환된다.
if int(num) % 2:
    print('홀수입니다')
else:
    print('짝수입니다')

홀수입니다

### elif

```
if <조건식>: 
    if 조건이 참인경우
elif <조건식>:
    elif 조건이 참인경우 실행
...
else:
    위의 조건식에 하나도 부합하지 않는 경우 실행
```

In [28]:
score = int(input())

 92

In [29]:
# 90점 이상 A(95점 이상이면 '참잘했어요')
# 80점 이상 B
# 70점 이상 C
# 나머지 F 

if score >= 90:
    print('A')
    if score >=95:
        print('참잘했어요')
elif score >= 80:
    print('B')
elif score >= 70:
    print('c')
else:
    print('f')

A

## 조건표현식

```
true_value if <조건식> else false_value
```

In [34]:
print('True') if 1 < 0 else print('False')

False

In [42]:
if 1 > 0:
    print('True')
else:
    print('False') #위와 같은 조건표현식

True

In [43]:
num = 5
value = num if num >= 0 else 0

In [44]:
num = -5
if num >= 0:
    value = num
else:
    value = 0 
print(value)

0

In [45]:
num = 2
if num % 2 == 1:
    result = '홀수'
else:
    result = '짝수'
print(result)

짝수

In [48]:
num = 2
result = '홀수' if num % 2 == 1 else '짝수'
print(result)

짝수

# 반복문

## while 문 

```
while <조건식>:
    실행할 코드
```

In [1]:
a = 0 

while a < 5:
    print(a)
    a += 1
    #a = a + 1

0
1
2
3
4

In [3]:
# 사용자가 '안녕'이라고 할때까지 계속 요청받는 코드
greeting = '' #초기화함

while greeting !='안녕':
    greeting = input('안녕이라고해줘 : ')

안녕이라고해줘 :  안녕

## for
정해진 범위 내의 반복
```
for variable in sequence: 
    code
```

In [4]:
numbers = [1, 2, 3, 4, 5]

for number in numbers:
    print(number)

1
2
3
4
5

In [11]:
# for 문을 사용해서 사용자가 입력한 데이터를 한글자씩 출력하는 코드
word = input('단어를 입력해주세요: ')

for char in word:
    print(char)

단어를 입력해주세요:  apple

a
p
p
l
e

In [14]:
for i in range(5): 
    print(i)

0
1
2
3
4

In [16]:
for i in (1, 2, 3, 4, 5):
    print(i)

1
2
3
4
5

In [27]:
# 1. 1~30까지 숫자 중에서 홀수 출력

numbers = range(31)

for number in numbers:
    if number % 2 == 1:
        print(number)

"""
for i in range(1,30, 2):
    print(i)
"""

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

'\nfor i in range(1,30, 2):\n    print(i)\n'

In [30]:
# 2. 1~30까지 숫자 중에서 홀수만 담긴 리스트로 출력

numbers = range(31)
result = []

for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [38]:
menus = ['돈까스', '초밥', '냉면']

for menu in enumerate(menus): 
    #print(menu)
    print(menu[0])
    print(menu[1])

0
돈까스
1
초밥
2
냉면

In [39]:
enumerate(menus) #위처럼 (인덱스,데이터)와 같이 튜플로 감싸져서 나옴

In [40]:
menus = ['돈까스', '초밥', '냉면']

for idx,menu in enumerate(menus): 
    print(idx)
    print(menu)

0
돈까스
1
초밥
2
냉면

## dictionary 반복

1. for key in dict:
2. for key in dict.keys():
3. for value in dictvalues():
4. for key

In [41]:
info = {
    'name' : 'hyunjung',
    'location' : 'seoul',
    'phone' : '010-1234-1234'
}

In [44]:
for i in info:
    print(i) #키가 출력
    print(info[i])

name
hyunjung
location
seoul
phone
010-1234-1234

In [45]:
blood_type = {
    'A': 5,
    'B': 4,
    'C': 2,
    'AB': 3,
}

In [47]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type:
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
C
AB

In [48]:
print('혈액형 목록은 다음과 같습니다.')
for key in blood_type.keys():
    print(key)

혈액형 목록은 다음과 같습니다.
A
B
C
AB

In [49]:
for value in blood_type.values():
    print(value)

5
4
2
3

In [53]:
result = 0

for value in blood_type.values():
    result = result + value
print(f'총인원은 {result}명입니다.')

총인원은 14명입니다.

In [57]:
for key, value in blood_type.items():
    print(key, value)

#    print(f'{key}형은 {value}명 입니다')

# for item in blood_type.items():
#    print(item)

A 5
A형은 5명 입니다
B 4
B형은 4명 입니다
C 2
C형은 2명 입니다
AB 3
AB형은 3명 입니다

In [56]:
blood_type.items()

dict_items([('A', 5), ('B', 4), ('C', 2), ('AB', 3)])

### break
반복문을 종료시키는 키워드

In [60]:
for i in range(100):
    if i > 10:
        print('10넘었어')
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
10넘었어

In [87]:
rice = ['보리', '보리', '보리', '쌀', '보리','보리']

In [93]:
for i in rice:
     print (i)
     if i == '쌀':
        print('잡았다!')
        break

보리
보리
보리
쌀
잡았다!

### continue

continue  이후의 코드를 실행하지 않고 다음 반복을 진행

In [76]:
for i in range(10):
    if i % 2:
        continue #홀수이면 if 문 통과하여 다시 for 문으로 돌아감
    print(i)

0
2
4
6
8

In [86]:
age = [10, 35, 20, 18, 9, 40]


for a in age:
    if a<20:
        continue
    print(f'{a}살은 성인입니다.')

35살은 성인입니다.
20살은 성인입니다.
40살은 성인입니다.

### else
else문은 끝까지 반복이 진행된 후 실행됩니다.

In [96]:
for i in range(10):
    if i > 100:
        break
    print(i)
else: #브레이크를 만나지 못하고 for문이 모두 돈 경우 출력
    print('break 못만남')

0
1
2
3
4
5
6
7
8
9
break 못만남

In [97]:
for i in range(10):
    if i > 5:
        break
    print(i)
else: 
    print('break 못만남')

0
1
2
3
4
5

In [99]:
numbers = [1,3,5,7,9]
print(3 in numbers) #3이 들어있는지 확인
print(2 in numbers)

True
False

In [105]:
numbers = [1, 3, 5, 7, 9]
target = 5

for number in numbers:
    if number == target:
        print(True)
        break
else:
    print(False)

True

### pass

In [106]:
if True :
    pass

### match

```
match value:
    case 조건:
        code
    case 조건:
        code
    case _:
        code
```

In [110]:
status = 100
#status = 404
match status:
    case 400:
        print('Bad request')
    case 404:
        print('not found')
    case _:
        print('someting is wrong')

someting is wrong