# 01. intro

## 단축기

- ctrl + enter : 지금 셀 실행
- shift + enter : 지금 셀 실행 & 아래로 이동
- alt + ennter : 지금 행 실행 & 아래에 새로운 셀 추가

## 주의사항  

1. Apple / apple 다름 (대소문자 구분)
2. git add . / git add. 은 다른 언어 (띄어쓰기중요)
3. message / massage 철자 틀리지 않도록 주의

In [ ]:
# 주석을 나타냅니다.

# 1. 변수

변수이름 = 값 

- 변수이름은 어떤 이름이든 상관 없음
- 다만 영어, 숫자, _를 이용하아ㅕ 선언
- 키워드는 사용불가

In [4]:
a = 10

In [5]:
a

10

In [6]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

1.1 number

In [8]:
a = 10000000

In [9]:
a

10000000

In [10]:
type(a)

int

In [11]:
b = 1.1
b

1.1

In [12]:
type(b)

float

In [13]:
c = 1 - 4j

In [14]:
c
type(c) #복소수

complex

In [15]:
c.imag # . 은 객체지향어 실수부

-4.0

In [16]:
c.real # 허수부

1.0

### 1.2 Booleam
True, False로 이루어진 타입

In [17]:
a = True

In [18]:
type(a)

bool

In [19]:
b = False
type(b)

bool

In [20]:
bool(0) #true false 구분 함수

False

1.3 None

In [21]:
a = None #None은 비어있다는 의미

In [22]:
type(a)

NoneType

### 1.4 Stirng 

- 문자열은 `'` `"`를 이용하여 표현

In [24]:
a = 'hello'
type(a)

str

In [25]:
b = 'world'
b
type(b)

str

In [29]:
age = input()
print(age)
print(type(age)) # input을 통해 입력된 123은 숫자가 아닌 문자로 들어감

 123

123
<class 'str'>

In [33]:
print('안녕하세요?'김현정'입니다.')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (247337823.py, line 1)

In [35]:
print('안녕하세요?' '"김현정"' '입니다.')

안녕하세요?"김현정"입니다.

In [39]:
print('안녕하세요? \'김현정\' 입니다.') # 빽슬래쉬뒤는 문자취급

안녕하세요? '김현정' 입니다.

In [40]:
a = '''
여기는 문자열 입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.
'''

In [41]:
print(a)

여기는 문자열 입니다.
엔터를 쳐서 여러줄을 작성할 수 있습니다.

In [45]:
print('엔터를 입력해봐요 \n다음줄입니다. \t들여쓰기도 가능합니다.') #\n 줄바꿈 \t 들여쓰기

엔터를 입력해봐요
다음줄입니다. 	들여쓰기도 가능합니다.

In [47]:
print('하나', '둘', '셋', end = '!')

하나 둘 셋!

In [50]:
print('하나', '둘', '셋', sep='/')

하나/둘/셋

In [54]:
print('하나', '둘', '셋', sep='\t')

하나	둘	셋

#### string interpolation 

1. %-formatting
2. str.format()
3. f-string

3번이 가장 트랜디함

In [53]:
age = 20

In [55]:
print('홍길동은 %s살입니다.' % age)

홍길동은 20살입니다.

In [57]:
print('홍길동은 {}살입니다.'.format(age))

홍길동은 20살입니다.

In [58]:
print(f'홍길동은 {age}살입니다.') #f를 문장앞에 넣음

홍길동은 20살입니다.

###2. 연산자

2.1 산술연산자

In [64]:
a = 2
b = 3

In [65]:
a + b

5

In [66]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a ** b)

5
-1
6
0.6666666666666666
8

In [69]:
print(a // b) #몫 출력
print(a % b) #나머지 출력
print(divmod(a, b)) #몫 나머지 모두 출력

0
2
(0, 2)

### 2. 2 비교 연산자

In [70]:
a = 5 
b = 10

In [71]:
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [73]:
print(a == b) #같나요?
print(a != b) #같지않나요?

False
True

In [75]:
print('hi' == 'hi')
print('HI' == 'hi')

True
False

### 2. 3  논리연산자
- and : 양쪽 모두 트루일때 True 
- or : 양쪽 중 하나만 True일 때 True 
- not

In [76]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [77]:
print(True or True) 
print(True or False) 
print(False or True)
print(False or False)

True
True
True
False

In [78]:
print(True)
print(not True)

True
False

In [80]:
#단축평가(and)
print(3 and 5) #3은 True 의미이므로 앞을 출력
print(3 and 0)
print(0 and 5) #0은 False이므로 뒤에만 출력
print(0 and 0)

5
0
0
0

In [81]:
#단축평가(or)
print(3 or 5) 
print(3 or 0)
print(0 or 5) 
print(0 or 0)

3
3
5
0

### 2.3 복합연산자

In [94]:
a = 1
b = 2

In [91]:
a = a + 1 
a

2

In [92]:
a += 1 #위와 같은 코드

In [93]:
a

3

In [ ]:
a = a + b
a = a - b
a = a * b
a = a / b
a = a// b 
a = a % b 
a = a ** b

In [ ]:
a += b 
a -= b 
a *= b
a /= b
a //= b
a %= b
a **= b #위의 연산을 줄여서 표현 가능

### 2.4 기타연산자

In [96]:
a = 'hi'
b = 'hello'

In [97]:
#concatenation(연결)
a + b #문자에선 연결

'hihello'

In [98]:
a = [1, 2, 3]
b = [4, 5, 6]

In [101]:
print(a)
print(b)

[1, 2, 3]
[4, 5, 6]

In [103]:
#concatenation
a + b

[1, 2, 3, 4, 5, 6]

In [104]:
print('a' in 'apple')
print('z' in  'apple')

True
False

In [105]:
print(1 in [1, 2, 3])
print(10 in [1, 2, 3])

True
False

In [108]:
# identity
a = 1 
b = 1
print(a is b) # = 기호와 비슷한 역할
print(id(a))
print(id(b))

True
140713663652648
140713663652648

In [109]:
# identity
a = 123123
b = 123123
print(id(a))
print(id(b))
print(a is b) # 값은 같지만 위치가 다름/ -5~256까지는 같은 위치

2853968671472
2853968672464
False

### 우선순위 

0. ()를 통해 그룹
1. **
2. 산술연산자(*, /)
3. 산술연산자(+. -)
4. 비교연산자, in, is
5. not
6. and
7. or

In [110]:
-3 ** 4

-81

In [111]:
(-3) ** 4

81

### 3. 형변환
### 3. 1 암시적 형변환

In [116]:
a = True 
b = False
c = 1

In [117]:
print(a + c)
print(b + c)

2
1

In [120]:
int_num = 3
float_num = 3.3
complex_num = 1 +3j

In [121]:
print(int_num + float_num)
print(int_num + complex_num)

6.3
(4+3j)

### 3. 2 명시적 형변환

- int() : string, float를 int로 변환
- float() : string, int를 float로 변환
- str() : int, str 등을 string으로 변환
- bool() : int, list등을 boolean으로 변환

In [123]:
a = 1 
b = '번'

In [124]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [125]:
print(str(a)+b)

1번

In [127]:
a = '3'
type(int(a)) #숫자형태로 변경

int

In [128]:
a = '3.3'
type(int(a)) #십진수(실수)의 문자만 숫자형태로 변경가능

ValueError: invalid literal for int() with base 10: '3.3'

In [131]:
print(type(a))
print(type(float(a)))

<class 'str'>
<class 'float'>

In [132]:
a = 1
b = 0

In [133]:
bool(a)

True

In [134]:
bool(b) # 비어있기때문

False

In [136]:
print(bool([]))
print(bool([1, 2, 3]))

False
True

## 4. 시퀀스(sequence) 자료형

시퀀스는 데이터의 순서대로 나열된 자료구조. (순서대로 나열되었다는 것은 정렬된 것과는 다르다)

 1. 리스트
 2. 튜플
 3. 레인지
 4. 문자열

### 4 .1 List(배열)

- 선언 : 변수이름 = [value1, value2, vlaue3 ...]
- 접근 : 변수이름[index]

In [138]:
l = []
print(l)
print(type(l))

[]
<class 'list'>

In [143]:
location = ['서울', '대구', '대전']
print(location)
print(location[0])
location[1] = '부산' #리스트는 안의 데이터에 접근해서 수정가능
print(location)

['서울', '대구', '대전']
서울
['서울', '부산', '대전']

In [140]:
a = 1 
print(a)
a = 'hi'
print(a)

1
hi

### 4.2 Tuple
- 선언 : 변수이름 = (value1, value2, value3)
- 접근 : 변수이름[index]
- 리스트와 유사하지만 수정 불가능(immutable)하다.

In [142]:
t = (1, 2, 3)
print(t)
print(type(t))
print(t[2])

(1, 2, 3)
<class 'tuple'>
3

In [144]:
t[2] = 5

TypeError: 'tuple' object does not support item assignment

In [146]:
x, y = 1, 2
print(x,y)

x, y = y, x 
print(x, y)

1 2
2 1

### 4. 3 range

- range(n) : 0부터 n-1까지 범위
- range(n, m : n부터 n-1까지의 범위
- range(n, m, s) : n부터 n-1까지의 +s만큼 증가하는 범위

In [149]:
a = range(1)
print(a)
print(type(a))

range(0, 1)
<class 'range'>

In [151]:
a = range(10) #범위를 나타냄
print(a)
print(list(a))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [152]:
a = range(5, 15)
print(list(a))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [153]:
a = range(1, 10, 2)
print(list(a))

[1, 3, 5, 7, 9]

In [154]:
a = range(-1,-10,-1)
print(list(a))

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

### 4. 4 String

### 4. 시퀀스에서 활용가능한 연산/함수

In [159]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3, 4, 5)
my_range=range(1, 100)
my_string = '12345'

In [160]:
#indexing
print(my_list[1])
print(my_tuple[1])
print(my_range[1])
print(my_string[1])

2
2
2
2

In [161]:
#slicing
print(my_list[1:3]) #1부터 3번째 전까지
print(my_tuple[1:3])
print(my_range[1:3])
print(my_string[1:3])

[2, 3]
(2, 3)
range(2, 4)
23

In [164]:
#slicing (k간격으로)
print(my_range[2:50:2])
print(list(my_range[2:50:2]))

range(3, 51, 2)
[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [166]:
print(1 in my_list)
print(1 in my_tuple)
print(1 in my_range)
print('1' in my_string) #있는지체크

True
True
True
True

In [167]:
print(1 not in my_list)
print(1 not in my_tuple)
print(1 not in my_range)
print('1' not in my_string)  #없는지 체크

False
False
False
False

In [168]:
#conatenation
print(my_list + [1, 2, 3])

[1, 2, 3, 4, 5, 1, 2, 3]

In [170]:
# * 
print([0] * 10)
print([[0] * 10] * 10)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]

In [172]:
print(len(my_list)) #len 길이출력

5

In [173]:
print(min(my_list))

1

In [174]:
print(max(my_list))

5

In [175]:
my_list.count(1)

1

## 5. 시퀀스데이터가 아닌 자료구조
### 5. set

수학에서 사용하는 집합과 동일하게 처리 (중복된 값이 없음)

- 선언 : 변수이름 = {value1, value2, value3 ...}

In [176]:
my_set_a = {1, 2, 3, 4, 5}
my_set_b = {3, 4, 5, 6, 7}

In [180]:
print(my_set_a - my_set_b) #차집합
print(my_set_a | my_set_b) #합집합 중복된 데이터 한번씩
print(my_set_a & my_set_b) #교집합

{1, 2}
{1, 2, 3, 4, 5, 6, 7}
{3, 4, 5}

In [182]:
my_list = [1, 1, 1, 1, 1, 1, 1 ,1 ,2, 3, 4 ,5, 6, 7]
#set을 이용하여 중복된 데이터 지우기
print(set(my_list))

{1, 2, 3, 4, 5, 6, 7}

### 5. 2 Dictionary

- 선언 : 변수이름 = (key1: value1, key2: value2 ... ) # 띄어쓰기 주의
- 접근 : 변수이름[key]

- dictionary는 key와 value가 쌍으로 이루어져있다.
- key에는 immutable한 모든 것을 사용가능 (불변값: string, integer)
- value에는 모든데이터 가능(list, dictionary도 가능)

In [183]:
my_dict = {'서울': '02', '경기': '031'}

In [185]:
print(my_dict)
print(my_dict['서울'])

{'서울': '02', '경기': '031'}
02

In [192]:
dict_a = {
    'name': 'hyunjung',
    'location':  'seoul',
    'location': 'seoul2',
}

In [193]:
print(dict_a)

{'name': 'hyunjung', 'location': 'seoul2'}

In [195]:
dict_a.keys()

dict_keys(['name', 'location'])

In [196]:
dict_a.values()

dict_values(['hyunjung', 'seoul2'])

# 데이터 타입 

1. Number
2. Boolean
3. string

# 자료구조
- 시퀀스 자료형
1. [List] :  mutable(수정가능)
2. (Tuple) :  immutable
3. range() :  immutable
4. 'Striong' :  immutable

- 시퀀스가 아닌 자료형
  1. {set} :  mutable
  2. {Dict: ionary} : mutable